<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ELades"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Asset.ImagePagerAdapter"
            android:exported="false" />
        <activity
            android:name=".Surat.SKTM"
            android:exported="false" />
        <activity
            android:name=".Surat.Surat_Ijin"
            android:exported="false" />
        <activity
            android:name=".Asset.RiwayatSurat.SuratDiajukan"
            android:exported="false" />
        <activity
            android:name=".Surat.SKCK"
            android:exported="false" />
        <activity
            android:name=".Menu.detail_permintaan_surat"
            android:exported="false" />
        <activity
            android:name=".Menu.permintaan_surat"
            android:exported="false" />
        <activity
            android:name=".Asset.recycleView"
            android:exported="false" />
        <activity
            android:name=".Menu.dashboard"
            android:exported="false" />
        <activity
            android:name=".Login.register3"
            android:exported="false" />
        <activity
            android:name=".Login.register2"
            android:exported="false" />
        <activity
            android:name=".menu"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Login.register1"
            android:exported="false" />
        <activity
            android:name=".Login.lupa_password_2"
            android:exported="false" />
        <activity
            android:name=".Login.lupa_password"
            android:exported="false" />
        <activity
            android:name=".gtw"
            android:exported="false" />
        <activity
            android:name=".Login.login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>